.DS_Store
.dart_tool/

.idea/
.packages
.pub/
pubspec.lock
*.iml

build/

example/android/app/src/main/AndroidManifest.xml
android/gradlew.bat
android/gradlew
android/gradle/wrapper/gradle-wrapper.properties
android/gradle/wrapper/gradle-wrapper.jar
